<form [formGroup]="searchForm" (ngSubmit)="onSubmit()" >
    <!--Ici on rentre le mot recherché-->
    <mat-form-field>
      <input matInput placeholder="Mot recherché" value="Chien" required>
    </mat-form-field>
    <!--Autocomplete ici on choisi son option de recherche is_a, etc-->
    <mat-form-field>
      <input matInput [value]="name" (keyup.enter)="onEnter($event)" formControlName="relationGroup" type="text"  placeholder="Relation"  [matAutocomplete]="autoGroup">
      <mat-autocomplete  #autoGroup="matAutocomplete">
        <mat-optgroup *ngFor="let group of relationGroupOptions | async" [label]="group.letter">
          <mat-option (onSelectionChange)="onEnter($event)" (keyup.enter)="onEnter($event)" *ngFor="let name of group.names" [value]="name">
            {{name}}
          </mat-option>
        </mat-optgroup>
      </mat-autocomplete>
    </mat-form-field>
    <!--Bouton de validation-->
    <button  type="submit" mat-raised-button>Rechercher</button>
    <mat-chip-list ><p *ngIf="choosenRelations.length>0">Mes relations : </p>
      <mat-chip *ngFor="let relation of choosenRelations" [selectable]="selectable" [removable]="removable" (removed)="remove(relation)">
        {{relation}}
        <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
      </mat-chip> 
    </mat-chip-list>
  </form>



<app-result [word]="searchWord"></app-result>